:root{
--stormy-teal: #16697aff;
--pacific-blue: #489fb5ff;
--sky-blue-light: #82c0ccff;
--parchment: #ede7e3ff;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: var(--parchment);
}

.container {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
}

/* FOTO DE FONDO */
.banner {
    grid-column: 1/ 3;
    background: var(--sky-blue-light);
    position: relative;
    background-size: cover;
    background-position: center;
}

/* BOTÓN EDITAR FONDO */
.banner button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--sky-blue-light);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

/* PERFIL */
.profile {
    padding: 10px;
    background: var(--pacific-blue);
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    border: 3px solid var(--stormy-teal);
}

.profile button {
    background: var(--sky-blue-light);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.profile input,
.profile textarea {
    padding: 6px;
    border-radius: 6px;
    border: none;
}

/* MAIN */
main {
    padding: 10px;
    background: var(--parchment);
}

/* BOTÓN IDEAS */
#toggleIdeas {
    background: var(--stormy-teal);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
}



